/target
.DS_STORE
.project
.classpath
.settings
src/main/native/packr/build*
src/main/resources/packr*
native/build
native/obj
native/packr.xcodeproj/
native/packr.sln
native/packr.vcxproj*
.idea/
*.iml